* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #222f3e;
}
button {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #768088;
  border: 2px solid #768088;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  transition: all 0.5s;
}
button:hover {
  background: #768088;
  color: #f1f5f8;
}
